################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task.Learning/.vs
/Task.Learning/bin/Debug/net6.0
/Task.Learning/obj
